@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.vid-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

video {
    height: 100%;
    width: 100%;
}

.action-cont {
    height: 12rem;
    width: 5rem;
    position: absolute;
    top: calc((100vh - 12rem) / 2);
    right: 5rem;
    color: rgb(8, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-cont>* {
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-btn {
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.capture-btn {
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.scale-record {
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.scale-capture {
    animation-name: scale-capture;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes scale-record {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: sale(1.1);
    }
}

@keyframes scale-capture {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: sale(1.1);
    }
}